@model DashboardViewModel


<div class="row mt-7">

    <div class="col-sm-12 col-md-4 col-lg-3 mb-3 ">
        <div class="card shadow-sm">
            <h2 class="card-header">@Model.Income TL</h2>

            <label style="text-align:left" class="card-body">
                Total Income
            </label>


        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-3 mb-3  ">

        <div class="card shadow-sm">
            <h2 class="card-header">@Model.PendingOrderCount</h2>
            <label style="text-align:left" class="card-body">
                Pending Order
            </label>
        </div>
    </div>



    <div class="col-sm-12 col-md-4 col-lg-3  ">
        <div class="card shadow-sm">
            <h2 class="card-header">@Model.AllUserCount</h2>

            <label style="text-align:left" class="card-body">
                Total User
            </label>

        </div>


    </div>
    <div class="col-sm-12 col-md-4 col-lg-3  ">
        <div class="card shadow-sm">
            <h2 class="card-header">@Model.UserCount</h2>

            <label style="text-align:left" class="card-body">
                User 
            </label>

        </div>


    </div>

    <div class="col-sm-12 col-md-4 col-lg-3  ">
        <div class="card shadow-sm">
            <h2 class="card-header">@Model.AdminCount</h2>

            <label style="text-align:left" class="card-body">
                Admin
            </label>


        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-3  ">
        <div class="card shadow-sm">
            <h2 class="card-header">@Model.ProductCount</h2>

            <label style="text-align:left" class="card-body">
                Total Product
            </label>

        </div>
    </div>




    <div class="col-sm-12 col-md-4 col-lg-3  ">
        <div class="card shadow-sm">
            <h2 class="card-header">@Model.OrderCount</h2>

            <label style="text-align:left" class="card-body">
              Total Order
            </label>

        </div>


    </div>



    <div class="col-sm-12 col-md-4 col-lg-3  ">
        <div class="card shadow-sm">
            <h2 class="card-header">@Model.OrderWeekCount</h2>

            <label style="text-align:left" class="card-body">
                Number of orders in a week
            </label>

        </div>


    </div>







</div>
